
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FollowersCount</title>
</head>
<body>
    <div> 
        Nombre de usuario: 
        @Html.TextBox("Name")
        <input type="button" value="Obtener seguidores" />
        @Html.Label("Aquí irá un numerito")
    </div>
</body>
</html>
