
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SocialNetwork</title>

</head>
<body>
    <div> 
        <p>Selecciona la red social con que trabajarás.</p>
        <p>
            @{var listItems = new List<SelectListItem>
            {
              new SelectListItem { Text = "Twitter", Value="Exemplo1" },
              new SelectListItem { Text = "Facebook", Value="Exemplo2" },
              new SelectListItem { Text = "Instagram", Value="Exemplo3" }
            };
            }
            @Html.DropDownList("Exemplo", new SelectList(listItems, "Value", "Text"))
        </p>
        <input type="button" value="Some text" onclick="location.href='@Url.Action("FollowersCount", "Home")'" />

    </div>
</body>
</html>
